    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>ALTIUS TECHNOLOGIES</h1>
                <h2>Applying Intelligence</h2>
                <hr>
                <h3>We create sophisticated and high-performing software, state-of-the-art web applications and innovative mobile apps using the latest technologies.</h3>
                <hr>
                <p></p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
