    <section id="services" style="font-size: smaller;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We are Expert Developers</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Ruby</h3>
                        <p class="text-muted">The most productive way to build web applications. Code that reads like English! </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Rails</h3>
                        <p class="text-muted">Rails has one of the most vibrant open source communities and is one of the most robust frameworks out there. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Javascript</h3>
                        <p class="text-muted">JavaScript plays nicely with other web technologies — such as HTML and CSS — and can even interact with plugins such as Flash.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-html5 wow bounceIn text-primary" data-wow-delay=".3s"></i>/
                        <i class="fa fa-4x fa-css3 wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>HTML/CSS</h3>
                        <p class="text-muted">Our sustainable solutions combined with the latest piece of technologies will create designs tailored to your specifications.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-ils wow bounceIn text-primary" data-wow-delay=".4s"></i>
                        <h3>.NET</h3>
                        <p class="text-muted">Our team of experienced .NET professionals is capable of transforming diverse business requirements into highly flexible and scalable .NET web-based solutions that will take your business to the next level. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-android wow bounceIn text-primary" data-wow-delay=".5s"></i>
                        <h3>Android</h3>
                        <p class="text-muted">We offer cost efficient and reliable android app development services. To meet your business objectives, our expert team provides amidst solutions. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-font wow bounceIn text-primary" data-wow-delay=".6s"></i>
                        <h3>AngularJs</h3>
                        <p class="text-muted">Our team of AngularJS developers makes use of cutting-edge tools and latest technologies to offer best AngularJS development services. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-circle-o-notch wow bounceIn text-primary" data-wow-delay=".7s"></i>
                        <h3>Ionic</h3>
                        <p class="text-muted">Our developers have unparalleled expertise in AngularJS and can bring all the key features of AngularJS on the table to render awesome native mobile experiences without involving native SDKs.</p>
                    </div>
                </div>
            </div>            
        </div>
    </section>
